.email{
    height: 2rem;
    margin-top: 1rem;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 10px;
}
.confirmPassword{
    height: 2rem;
    margin-top: 1rem;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 10px;
}
.info{
    margin-left: 15rem;
    width: 216px;
    
}