.checkboxHeading{
   color:  black;
   width: 200px;
}
.createHw input{
   margin-bottom: 50px;
}
.start{
   margin-bottom: 2%  !important;
}
.checkBox input{
   left: 20rem;
}
.createHwTitle{
   margin-bottom: 4%;
   margin-top: 4%;
}
.createHw .btn{
   width: 126px;
}