.updateBtn{
  margin-top: 100px;
  width: 126px;
  margin-bottom: 100px;
}

.rbc-btn-group{
  margin-right:10px;
  margin-left: 0px;
}
.rbc-toolbar .rbc-toolbar-label {
  -webkit-flex-grow: unset;
  flex-grow: unset;
  padding: 0 10px;
  text-align: center;
}
.rbc-btn-group button{
  padding-left: 16px;
  margin-left: 10px;
  width: 84px;
}